@import url("https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Arimo");
.container {
  font-family: "Roboto", sans-serif;
  max-width: 1170px;
  background-color: red; }
  .container__position {
    margin: 0 auto; }
