.contacts
	list-style-type: none
	width: 70%
	&__item
		border: 1px solid green
		&:before
			content: ''
			display: inline-block
			width: 1.4em
			height: 1.4em
			background-color: red
	&__method
		display: inline-block
	&__text