.section
	//outline: 1px solid blue
	&__header
		color: $textcolor
		margin: 0
		//outline: 1px solid yellow
	&__subheader
		color: $primarycolor
		margin-top: 5px
		font-weight: normal
		text-transform: uppercase
		font-size: 1em
		//outline: 1px solid green
	&__box
		display: flex
		justify-content: space-between
	&__description
		max-width: 70%
		text-align: justify
		//outline: 1px solid red
	&__pic
		margin-right: 3%
		margin-left: 3%
		width: 200px
		height: 200px
		border-radius: 50%
		box-shadow: -2px 2px 10px 0 rgba(0,0,0,0.6), 2px -2px 10px 0 rgba(0,0,0,0.6)
