.section
	box-sizing: border-box
	background-color: white
	padding: 2em
	box-shadow: 0 0 10px rgba(0, 0, 0, .08)
	display: flex
	justify-content: space-between
	&__position
		margin: 3em 0
	&__third
		width: 33%
		text-align: center
	&__left
		width: 22.5%
		border-right: 1px solid $secondarycolor
	&__social
		display: flex
		justify-content: center
		margin-right: 2em
		margin-top: 1em
	&__main
		width: 77.5%
		padding: 0 2em
		display: flex
		flex-direction: column
		justify-content: space-between
	&__header
		color: $primarycolor
		margin: 0
	&__subheader
		color: $primarycolor
		margin-top: 5px
		font-weight: normal
		text-transform: uppercase
		font-size: 1em
	&__desc
		text-align: justify
	&__pic
		width: 200px
		height: 300px
		box-shadow: -1px 1px 5px 0 rgba(0,0,0,0.6), 1px -1px 5px 0 rgba(0,0,0,0.6)
	&__intro
		text-align: center
		margin-bottom: 2em
	&__qual
		display: flex
		justify-content: space-between
	&--qual
		display: block