.skill
	font-weight: bolder
	display: flex
	justify-content: space-between
	margin-bottom: 0.5em
	margin-top: 1.5em
	&__name
	&__value
	&__line
		width: 100%
		height: 5px
		background-color: $secondarycolor
	&__line-value
		height: 5px
		background-color: $primarycolor