.button
	width: 150px
	height: 30px
	margin: 10px
	text-transform: uppercase
	font-family: $menufont
	font-weight: 400
	border: none
	background-color: $bgcolor
	font-weight: bold
	box-shadow: -1px 1px 5px 0 rgba(0,0,0,0.4)
	&:hover
		cursor: pointer
		color: $primarycolor
	&:focus
		outline: none