@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Arimo')
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$textfont: 'Roboto', sans-serif
$headerfont: 'Arimo', sans-serif
$menufont: 'Roboto Condensed', sans-serif
$contentwidth: 1170px
$bgcolor: #f5f5f5
$textcolor: #212121
$subheadercolor: #bdbdbd
$primarycolor: #ff6f00
$secondarycolor: #ffc107

.fa
	color: $primarycolor
	opacity: 0.7
	&:hover
		opacity: 1
		cursor: pointer
.fa-fw
.fa-download
	font-size: 1.4em
	margin-left: 1.2em
.fa-envelope
	font-size: 1.4em
	margin-left: 1.2em