@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Arimo')
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$textfont: 'Roboto', sans-serif
$headerfont: 'Arimo', sans-serif
$menufont: 'Roboto Condensed', sans-serif
$contentwidth: 1170px
$bgcolor: #f5f5f5
$textcolor: #212121
$fadetextcolor: #757575
$subheadercolor: #bdbdbd
$primarycolor: #ff6f00
$secondarycolor: #ffc107

$expitemheight: 12em
$expitemmarg: 2em

.fa
	color: $primarycolor
	opacity: 0.7
	&:hover
		opacity: 1
		cursor: pointer
.fa-fw

