doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Полякова Ксения
		link(rel='stylesheet' href='css/normalize.css')
		link(rel='stylesheet' href='css/main.css')
	body
		nav.menu
			.menu__wrapper
				a.menu__item(href="#home") обо мне
				a.menu__item(href="#comp") компетенции
				a.menu__item(href="#exp") опыт
				a.menu__item(href="#proj") проекты
				a.menu__item(href="#edu") образование
				a.menu__item(href="#int") интересы
				a.menu__item(href="#fut") планы
				a.menu__item(href="#cont") контакты
		.container.container__position Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nemo voluptates enim, sequi assumenda corporis, non illum, laborum quaerat minima unde quae error quod similique, numquam magni ex! Quasi, nisi!
		script(src='js/scripts.js')