doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title ФИО
		link(rel='stylesheet' href='css/normalize.css')
		link(rel="stylesheet", href='css/font-awesome.min.css')
		link(rel='stylesheet' href='css/main.css')
	body.body
		nav.menu
			.menu__wrapper
				a.menu__item(href="#home") обо мне
				a.menu__item(href="#comp") компетенции
				a.menu__item(href="#exp") опыт
				a.menu__item(href="#proj") проекты
				a.menu__item(href="#edu") образование
				a.menu__item(href="#int") интересы
				a.menu__item(href="#fut") планы
		div.container.container__position
			section.section.section__position#home
				.section__left
					img.section__pic(src="img/section__pic--01.jpg", alt="alt")
					div.section__social
						i.fa.fa-2x.fa-fw.fa-github(aria-hidden="true")
						i.fa.fa-2x.fa-fw.fa-facebook(aria-hidden="true")
						i.fa.fa-2x.fa-fw.fa-instagram(aria-hidden="true")
				.section__main(itemscope itemtype="http://schema.org/Organization")
					.section__headers
						h1.container__header Фамилия Имя
						h3.section__subheader Должность
					div.section__desc
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus fugiat, aliquam! In fugit id sint, nam repellendus possimus sit itaque aspernatur modi facere earum mollitia veritatis officia quo iste nisi.
						ul.contacts
							li.contacts__item
								i.fa.fa-phone.contacts__icon(aria-hidden="true")
								p.contacts__method Телефон
								p.contacts__text(itemprop="telephone") +7 (915) 114-23-33
							li.contacts__item
								i.fa.fa-envelope.contacts__icon(aria-hidden="true")
								p.contacts__method Email
								p.contacts__text(itemprop="email") ksenia.v.polyakova@mail.ru
							li.contacts__item
								i.fa.fa-skype.contacts__icon(aria-hidden="true")
								p.contacts__method Skype
								p.contacts__text Futurama_
					.section__buttons
						button.button резюме (pdf)
							i.fa.fa-download.button__icon(aria-hidden="true")
						button.button написать
							i.fa.fa-envelope.button__icon(aria-hidden="true")
			section.section.section__position.section--qual#comp
				p.section__intro Свои самые полезные, на мой взгляд, умения, знания и навыки работы с различными программами я оценила в процентах, где 100% - недостижимый идеал и абсолютное знание, а 0 - он и есть ноль.
				div.section__qual
					.section__third
						h2.section__header Профессиональные навыки
						div.skill
							div.skill__name(data-percent = '90') skill
							div.skill__value 
						div.skill__line
							div.skill__line-value
						div.skill
							div.skill__name(data-percent = '30') skill2
							div.skill__value 
						div.skill__line
							div.skill__line-value
					.section__third
						h2.section__header Знание технологий
						div.skill
							div.skill__name(data-percent = '50') skill
							div.skill__value
						div.skill__line
							div.skill__line-value
						div.skill
							div.skill__name(data-percent = '100') skill
							div.skill__value
						div.skill__line
							div.skill__line-value
					.section__third
						h2.section__header Личные качества
						div.skill
							div.skill__name(data-percent = '10') skill
							div.skill__value
						div.skill__line
							div.skill__line-value
						div.skill
							div.skill__name(data-percent = '30') skill
							div.skill__value
						div.skill__line
							div.skill__line-value
						div.skill
							div.skill__name(data-percent = '70') skill
							div.skill__value
						div.skill__line
							div.skill__line-value
			section.section.section__position.section--what#comp
				h2.section__header Что значит быть менеджером проекта?
				p.section__intro Хороший менеджер проекта должен обладать множеством качеств: это и организованность, и навыки ведения переговоров, лидерские качества. Но кроме этого важно знать предметную область, уметь собирать и анализировать информацию, и главное - уметь доносить ее до людей, а люди очень разные. Еще нужно уметь разговаривать на одном языке и с разработчиками и с бизнес-заказчиками, уметь понимать людей и уметь видеть суть задачи. За всю время работы я много чему научилась. А моя 
					span.section__accent-text суперспособность
					|- умение быстро разбираться в новых для себя областях и быстро адаптироваться, помогает мне быстро вклучиться в процесс.
		script(src='js/scripts.js')