doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title Полякова Ксения
		link(rel='stylesheet' href='css/normalize.css')
		link(rel='stylesheet' href='css/main.css')
	body
		.container.container__position Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nemo voluptates enim, sequi assumenda corporis, non illum, laborum quaerat minima unde quae error quod similique, numquam magni ex! Quasi, nisi!
		script(src='js/scripts.js')