doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title ФИО
		link(rel='stylesheet' href='css/normalize.css')
		link(rel="stylesheet", href='css/font-awesome.min.css')
		link(rel='stylesheet' href='css/main.css')
	body.body
		nav.menu
			.menu__wrapper
				a.menu__item(href="#home") обо мне
				a.menu__item(href="#comp") компетенции
				a.menu__item(href="#exp") опыт
				a.menu__item(href="#proj") проекты
				a.menu__item(href="#edu") образование
				a.menu__item(href="#int") интересы
				a.menu__item(href="#fut") планы
		div.container.container__position
			section.section.section__position#home
				div.section__left
					img.section__pic(src="img/section__pic--01.jpg", alt="alt")
					div.section__social
						i.fa.fa-2x.fa-fw.fa-github(aria-hidden="true")
						i.fa.fa-2x.fa-fw.fa-facebook(aria-hidden="true")
						i.fa.fa-2x.fa-fw.fa-instagram(aria-hidden="true")
				div.section__main
					h2.section__header Фамилия Имя
					h3.section__subheader Крутая должность
					div.section__desc
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus fugiat, aliquam! In fugit id sint, nam repellendus possimus sit itaque aspernatur modi facere earum mollitia veritatis officia quo iste nisi.
						button.button резюме (pdf)
							i.fa.fa-download(aria-hidden="true")
						button.button написать
		script(src='js/scripts.js')